body {
  color: #FFFF00;               /* Dark gray*/
  background-color: #0000FF;
  font-size:  18px;   /*Light gray*/
}

h1 {font-size: 2em;
}

h2 {font-size: 2em;
}

h4 {color:  #212121;
}

h1, h2, h4, {font-family: "Helvetica, "Arial", "sans-serif"
}

ul {list-style-type:  none;
}

ol {list-style-type: lower-roman;
}

h1 {text-decoration: underline;
 }
